<document>
  <listTemplate>
    <list>
      <header>
        <title>AVAILABLE GAMES</title>
      </header>
      <section>
        {{#each data}}
          <listItemLockup data-uuid="{{uuid}}" data-title="{{title}}" accessibilityText="{{title}}">
            <title>{{title_without_date}} - {{prettify start}}</title>
            <relatedContent>
              <lockup>
                <description class="descriptionLayout">{{title}}</description>
              </lockup>
            </relatedContent>
          </listItemLockup>
        {{/each}}
      </section>
    </list>
  </listTemplate>
</document>
