<document>
  <listTemplate>
    <list>
      <header>
        <title>AVAILABLE GAMES</title>
      </header>
      <section>
        {{#each data}}
          {{#if ready}}
            <listItemLockup data-uuid="{{uuid}}" accessibilityText="{{title}}">
              <title>{{title_without_date}} - {{prettify start}}</title>
              <relatedContent>
                <lockup>
                  <description class="descriptionLayout">{{title}}</description>
                </lockup>
              </relatedContent>
            </listItemLockup>
          {{/if}}
        {{/each}}
      </section>
    </list>
  </listTemplate>
</document>
